body {
   background-image: url(https://s-media-cache-ak0.pinimg.com/originals/23/01/b6/2301b6b3a8ccbf21788e3c49ef2ca38b.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.row {
   width: 100%;
   padding: 0;
   margin: 0;
   position: center;
   border-radius: 0;
}
.orangeopaquerow {
   width:100%;
   padding: 1rem 0 1rem 0;
   margin-top: 2rem;
   opacity: 0.5;
   background-color: #A75215;
}
.orangeopaquerowfooter {
   width:100%;
   padding: 1rem 0 1rem 0;
   margin-top: 0;
   margin-bottom: 2rem;
   opacity: 0.5;
   background-color: #A75215;
}
.navbar {
   background-color: #A75215;
   position: inline-block;
}
.navtext, a {
   font-family: fantasy;
   font-size: 1em;
   margin: 0;
   padding: 0 0.2em 0 0.2em;
   color: #210708;
}
.navcol-logo {
   max-width: 30%;
   min-width: 30%;
   padding: 0;
   margin: 0;
   float:left;
   max-height: 55px:
}
.navcol-links {
   max-width: 70%;
   min-width: 70%;
   padding: 0;
   margin: 0;
   float:right;
   height: 57px;
}
.logo {
   max-height: 55px;
   opacity: 0.8;
   padding: 0;
   margin: 0;
   border: 0;
}
.purpleopaquerow {
   opacity: 0.8;
   background-color: #210708;
   min-height: auto;
   margin-bottom: 0;
}
h1 {
   font-size: 2em;
   margin-bottom: 0;
}
p {
   size: 1em;
   margin-top: 0;
}
.bodytext {
   color: #858585;
   margin-top: 1rem;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 2rem;
   margin-bottom: 2rem;
   max-width: 90%;

}

/* Larger than mobile */
@media only screen and (min-width: 400px) {

}

/* Larger than phablet */
@media only screen and (min-width: 550px) {
   .main-image {
      padding-top: 2rem;
   }
}

/* Larger than tablet */
@media only screen and (min-width: 750px) {
   .main-image {
      padding-top: 4rem;
   }
}

/* Larger than desktop */
@media only screen and (min-width: 1000px) {

}

/* Larger than desktop HD */
@media only screen and (min-width: 1200px) {

}
